@model IEnumerable< _4Healthy_.Models.Alimento>

<div>
    <strong>
        Alimento
</strong>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carboidratos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorduras)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calorias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carboidratos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proteinas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorduras)
                </td>
            </tr>
        }

    </table>
  </div>
