@model _4Healthy_.Models.Alimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calorias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calorias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carboidratos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carboidratos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proteinas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proteinas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gorduras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gorduras)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlimentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
