@model IEnumerable<_4Healthy_.Models.Alimento>
@{
    ViewBag.Title = "Index";
    
}
<h2>Alimentos</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de Alimentos cadastrados
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calorias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carboidratos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Proteinas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gorduras)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carboidratos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proteinas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gorduras)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AlimentoId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.AlimentoId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.AlimentoId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Registrar um novo Alimento","Create", null, new
{ @class ="btn btn-success" })
    </div>
    </div>
        @section styles{
            <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
        }
        @section ScriptPage {
            <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
            <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.table').dataTable();
                });
            </script>
        }
